.price-list {
    width: 100%;
    height: 100%;
    background-color: $color-backround;
    padding: 2rem 2rem 8rem 2rem;

  
    .grid-1440-prices {
        @include widthHeight100;
        @include grid-1440;
        
    
        margin-inline: auto;

        @media (max-width:1024px) and (min-width:767px) {
            display: block;
            padding: 2rem 2rem 8rem 2rem;
        }
       
        @media only screen and (max-width : 1024px) {
            display: block;
         }

         

    }

    &__tite {
       
        grid-column: 2 / 8;

        @media only screen and (max-width : 1024px) {
            margin-bottom: 12rem;
        }
       

        @include section-headers;
       
        @media only screen and (max-width : 899px) {
            width: 70%;
            font-size: 2.8rem;
            line-height: 38px;
            margin-bottom: 8rem;
        }
       
        @media only screen and (max-width : 600px) {
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -0.04em;
            margin-top: 2.3rem;

        }

        @media only screen and (max-width : 899px) {
            width: 100%;
            
        }
    }

    &__flex-container {

        @media only screen and (max-width : 1230px) {
            gap:5rem;
        }

        @media only screen and (max-width : 1125px) {
            gap:2rem;
        }

        @media only screen and (max-width : 767px) {
           flex-direction: column;
           justify-content: unset;
           gap:4rem;
           margin-bottom: 0rem;
        }


        grid-column: 2 / 8;
       // grid-row: 2 / -1;
        // margin-top: 10rem;
        position: relative;

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22rem;
        
        .design-patt {
            position: absolute;
            top: 14rem;
            left:38rem;
            display: none;
        }

        
        &__cards {
            width: 100%;
            max-width: 431px;
            height: 431px;

            display: flex;
            flex-direction: column;
            align-items: center;

            background: #FFFFFF;
            box-shadow: 0px 1px 50px rgba(26, 26, 26, 0.09);
            border-radius: 8px;

         
           
            .title {


                @media only screen and (max-width : 1000px) {
                    font-size: 3rem;
                }

                @media only screen and (max-width : 854px) {
                    margin-top: 5rem;
                    width: 70%;
                    text-align: center;
                }

                @media only screen and (max-width : 767px) {
                    width: 100%;
                    margin-top: 10rem;
                 }

                font-family: 'Encode Sans Semi Condensed';
                font-style: normal;
                font-weight: 700;
                font-size: 3.6rem;
                line-height: 5.5rem;
                
                text-transform: capitalize;

                margin-top: 10.7rem;
                
                background: linear-gradient(93.58deg, #FF2DC4 -10.96%, #32B0FF 173.73%, #36BBE3 204.86%, #43E37F 240.4%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            .time {
                font-family: 'Encode Sans Semi Condensed';
                font-style: normal;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 0.1em;
                text-transform: lowercase;

                margin-top: 3.1rem;


                color: #333333;

            }

            .price {
                font-family: 'Encode Sans Semi Condensed';
                font-style: normal;
                font-weight: 700;
                font-size: 4rem;
                line-height: 5rem;
                text-transform: uppercase;
               
                margin-top: 7rem;

                color: #374A69;

                @media only screen and (max-width : 854px) {
                    font-size: 3rem;
                }

            }
        
        }
    }

}